// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables2';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'solid';
@import 'icons';

.bg-grey{
    background-color: grey;
}
@media only screen and (max-width: 768px) {
    #myTable{
        line-height: 1;
        font-size:  x-small;
    }
    .table th, .table td {
        padding: 0.4rem;
    }
    .text-head{
        font-size:  x-small;
        font-weight: bold;
    }
}
